{# Use flask bootstrap base.html template inheritance #}
{% extends "bootstrap/base.html"  %}

{% block title %} Toilet Map - JS API {% endblock %}

{% include '/common/header.html' %}

{% block styles %}
{{super()}}
<link href="{{url_for('static', filename='css/map_sass.css')}}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
{{super()}}
<!-- real time location -->
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnJzJWFZEawx6AwTJiALRWa6MB0aLsvN8"></script>
<script type="text/javascript" charset="Big5" src="{{url_for('static', filename='js/map/map.js') }}"></script>
{% endblock scripts %}

{% block content %}
{{super()}}
<div class="header">
    <h1>TOILET</h1><img class="icon" src="https://i.imgur.com/SV2lyg1.png"/>
</div>

<input type="hidden" id="travelMode" value="DRIVING" />
<div class="content">
    <h2>Topimap</h2>
    <h3>Have a nice pee.</h3>
    <div class="titlehr"></div>
    <input type="text" id="address" class="form-control" placeholder="Please enter area or street ..." />
    <div class="button">
        <div class="button_1">
            <p id="specificSearch">Search</p>
            <p id="currentSearch">Current Point</p>
            <a href="{{ url_for('home.index') }}"><p id="home">Home</p></a>
        </div>
    </div>
    <div id="minPath"></div>
    <div id="messageBlock">Go to >>>> <span id="msgInfo"></span></div>
</div>
<div class="map" id="map"></div>
<div id="directionsPanel" style="float:left;width:100%;height:auto;background-color: #FFEE77"></div>
<div class="content">
    <h4>Function</h4>
    <div class="button">
        <div class="button_2">
            <div>
                <p id="roomTypeAll">All Type</p>
                <p id="roomTypeAccessible">Accessible</p>
                <p id="roomTypeChild">Child</p>
                <p id="roomTypeKindly">Kindly</p>
            </div>
        </div>
        <div class="button_3">
            <div>
                <p id="travelDriving">Driving</p>
                <p id="travelWalking">Walking</p>
            </div>
        </div>
    </div>
    <h5>Toliet&nbsp;B&nbsp;.inc</h5>
</div>
<form id="form" action="{{ url_for('map.map') }}" method="POST"></form>


<!--<div class="form-group">-->
    <!--<input type="text" id="address" class="form-control" placeholder="Please enter area or street ..." />-->
    <!--<span>-->
        <!--<button class="btn btn-primary" id="specificSearch">Search</button>-->
        <!--<button class="btn btn-primary" id="currentSearch">Current Point</button>-->
        <!--<a href="{{ url_for('home.index') }}"><button class="btn btn-primary" id="home">Home</button></a>-->
    <!--</span>-->
<!--</div>-->

<!--<div class="form-group">-->
    <!--<span>-->
        <!--<button class="btn btn btn-info" onclick="searchByRoomType('ALL')">All Type</button>-->
        <!--<button class="btn btn btn-info" onclick="searchByRoomType('rest')">Accessible</button>-->
        <!--<button class="btn btn btn-info" onclick="searchByRoomType('child')">Child</button>-->
        <!--<button class="btn btn btn-info" onclick="searchByRoomType('kindly')">Kindly</button>-->
    <!--</span>-->
<!--</div>-->

<!--<div class="form-group">-->
    <!--<span>-->
        <!--<button class="btn btn-success" onclick="changeTravelMode('DRIVING')">Driving</button>-->
        <!--<button class="btn btn-success" onclick="changeTravelMode('WALKING')">Walking</button>-->
    <!--</span>-->
<!--</div>-->

<!--<div id="minPath"></div>-->
<!--<div id="messageBlock">Go to >>>> <span id="msgInfo"></span></div>-->
<!--<div id="map" style="float:left;width:100%; height:80%"></div>-->
<!--<div id="directionsPanel" style="float:left;width:100%;height:100%"></div>-->
<!--<form id="form" action="{{ url_for('map.map') }}" method="POST"></form>-->
{% endblock %}
