{# Use flask bootstrap base.html template inheritance #}
{% extends "bootstrap/base.html"  %}

{% block content %}
<div class="container col-md-8 col-md-offset-2">
    <h1>Site Under Construction</h1>

    <img src="{{url_for('static', filename='icon/toilet_icon2.jpg')}}" class="img-rounded" alt="Cinque Terre" width="45%" hight="500px"/>
    <form action="{{ url_for('home.map') }}" method="POST">
        <input class="btn btn-primary" type="submit" value="Position Location">
    </form>
</div>
{% endblock %}