{# Use flask bootstrap base.html template inheritance #}
{% extends "bootstrap/base.html"  %}

{% block head %}
<title>Topimap</title>

{% include '/common/header.html' %}

{% block styles %}
{{super()}}
<link href="{{url_for('static', filename='css/sass.css')}}" rel="stylesheet">
{% endblock styles %}
{% endblock head %}


{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('static', filename='js/home/home.js') }}"></script>
{% endblock scripts %}

{% block content %}
{{super()}}
<div class="header">
    <h1>TOILET</h1><img class="icon" src="https://i.imgur.com/SV2lyg1.png"/>
</div>
<form id="form" action="{{ url_for('map.map') }}" method="POST">
    <div class="content">
        <h2>Topimap</h2>
        <h3>Have a nice pee.</h3>
        <div class="titlehr"></div>
        <h6>Toilet&nbsp;Spot</h6><img class="pic" src="https://imgur.com/GKH051X.png"/>
        <h4>Function</h4>
        <div class="button" id="currentSearch">
            <p>Search Location</p>
        </div>
        <h5>Toliet&nbsp;B&nbsp;.inc</h5>
    </div>
</form>
{% endblock %}