{# Use flask bootstrap base.html template inheritance #}
{% extends "bootstrap/base.html"  %}

{% block title %} Toilet Business {% endblock %}

{% block metas %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% endblock metas %}

{% block styles %}
<link href="{{url_for('static', filename='css/sass.css')}}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="header">
    <div class="maxwidth">
        <h1>TOILET</h1>
    </div><img class="icon" src="https://i.imgur.com/SV2lyg1.png"/>
</div>
<form action="{{ url_for('map.map') }}" method="POST">
    <div class="content">
        <div class="maxwidth">
            <h2>Slogan</h2>
            <h3>Toilet Business</h3>
            <div class="titlehr"></div><br/>
            <guideline>Toilet Spot</guideline><br/>
            <hr color="#A9E5BB"/><img class="pic" src="https://i.imgur.com/ENiAKsF.png"/>
            <h4>Function</h4>
            <input class="button button_jasper" type="submit" value="Search Location">
            <h5>Toliet&nbsp;B&nbsp;.inc</h5>
        </div>
    </div>
</form>
{% endblock %}